*{
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 3rem;
    background-color: #000;
    color: #fff;
    height: 100vh;
}

.container h1{
    color: darkred;
}

.timer{
    display: flex;
    font-size: 55px;
    font-weight: bold;
    color:#fff
}

.time{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: #fff;
    min-width: 90px;
}

.separator{
    padding: 0 10px;
    color: darkgray;
}

#milliseconds{
    font-size: 30px;
    color: darkgray;
}

.buttons{
    display: flex;
    gap: 1rem;
}

.btn{
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 30px;
    transition: all 0.2s ease-in-out;
}
.btn:hover{
    transform: scale(1.1);
}
#startBtn{
    background-color: darkred;
    color: #fff;
}

#pauseBtn,
#resumeBtn{
    display: none;
}
